@page "/gauges"
@using Microsoft.AspNetCore.Mvc
@using Newtonsoft.Json
@using System.Linq
@using Radzen.Blazor
@using BlazorMonitor.Models
@using System.Threading.Tasks
@using Microsoft.AspNetCore.SignalR.Client
@using System.Security.Cryptography.X509Certificates
@implements IAsyncDisposable
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


<div class="row" Style="margin-top: 10px; padding-left: 15px; padding-right: 15px; width: 100%;">
    <div class="col-md-4">
        @* Dropdown to select a property to add or remove *@
        <RadzenDropDown TItem="GaugeConfig" TValue="string" Data="@AvailableGauges" @bind-Value="@SelectedProperty"
            TextProperty="Name" ValueProperty="Name" Placeholder="Select property" Style="width: 100%;" />
    </div>
    <div class="col-md-4">
        @* Button to add the selected gauge *@
        <RadzenButton Text="Add Gauge" Click="@AddGauge" ButtonStyle="ButtonStyle.Success"
            Disabled="@(string.IsNullOrEmpty(SelectedProperty))" />
            @* Button to add all available gauges *@
        <RadzenButton Text="Add All Gauges" Click="@addAllGauges" ButtonStyle="ButtonStyle.Primary"
            Disabled="@(AvailableGauges.Count == 0)" Style="margin-left: 10px;"/>
    </div>
</div>

<div class="mt-5 justify-center items-center">

    <RadzenRow class="rz-pb-1 rz-justify-content-center rz-align-content-center" wrap="Wrap.Wrap" RowGap="20px"
        Gap="10px">
        @if (ActiveGauges.Any())
        {
            @* Loop through the list of properties to display the gauges dynamically *@
            @foreach (var gauge in ActiveGauges)
            {

                @* Use @key to help Blazor efficiently update the UI when items are added/removed *@
                <div  @key="gauge.Name">
                    <RadzenCard Style="width: 100%; min-width: 450px; padding: 10px;">
                        <div class="col-md-12 d-flex justify-content-between align-items-center">
                            <h4>@gauge.hardwareType : <br /> @gauge.Name</h4>
                            @* Button to remove the selected gauge *@
                            <RadzenButton Text="Remove" Click="@(args => RemoveGauge(gauge.Name!))"
                                ButtonStyle="ButtonStyle.Danger" />
                        </div>

                        <RadzenArcGauge Style="width: 100%;">
                            <RadzenArcGaugeScale Step="20" Min="0" Max="100" MinorStep="2" Radius="1.3"
                                TickPosition="GaugeTickPosition.Outside" Y="0.8" Margin="0">
                                <RadzenArcGaugeScaleValue Value="@gauge.Value" Fill="@GetArcColor(gauge.Value, gauge.Unit!)">
                                    <Template Context="pointer">
                                        <RadzenStack AlignItems="AlignItems.Center" JustifyItems="JustifyItems.Center" Gap="0" class="rz-mb-0 rz-align-content-center rz-justify-content-center" Style="margin-top: -80%">
                                            <RadzenText TextStyle="TextStyle.H5" class="rz-m-2"><strong>@pointer.Value
                                                    @gauge.Unit</strong>
                                            </RadzenText>
                                        </RadzenStack>
                                    </Template>
                                </RadzenArcGaugeScaleValue>
                            </RadzenArcGaugeScale>
                        </RadzenArcGauge>
                    </RadzenCard>
                </div>

            }
        }

        else if (!AvailableGauges.Any())
        {
            <RadzenStack AlignItems="AlignItems.Center" Gap="0">
                <RadzenText TextStyle="TextStyle.H5" class="rz-m-2"><strong>Connecting to server...</strong>
                </RadzenText>
                <RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Info" ShowValue="true"
                    Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large" AriaLabel="Loading, large"
                    fill="blue">
                    <Template>Loading</Template>
                </RadzenProgressBarCircular>
            </RadzenStack>
        }

        else
        {
            <p>No gauges currently displayed. Pick gauges from dropdown</p>
        }
    </RadzenRow>
</div>

@code {
    private List<GaugeProperty> ActiveGauges = new List<GaugeProperty>();
    private List<GaugeProperty> AvailableGauges = new List<GaugeProperty>();
    private string? SelectedProperty;
    private HubConnection? _hubConnection;


    protected override async Task OnInitializedAsync()
    {

        Console.WriteLine("Initializing Hub Connection...");
        _hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/hardwarehub"))
        .WithAutomaticReconnect()
        .Build();

        _hubConnection.On<List<GaugeProperty>>(methodName: "Client", (SensorsDataList) =>
        {
            Console.WriteLine("Connected to Hub");

            foreach (var sensor in SensorsDataList)
            {
                // If the sensor is not already in the available gauges, add it
                if (!AvailableGauges.Any(g => g.Name == sensor.Name))
                {
                    AvailableGauges.Add(new GaugeProperty
                    {
                        Name = sensor.Name,
                        Value = sensor.Value,
                        Unit = sensor.Unit,
                        hardwareType = sensor.hardwareType
                    });

                }
                else
                {
                    // Update the value of the existing sensor in ActiveGauges
                    var activeGauge = ActiveGauges.FirstOrDefault(g => g.Name == sensor.Name);
                    if (activeGauge != null)
                    {
                        activeGauge.Value = sensor.Value;
                    }
                }
            }
            InvokeAsync(StateHasChanged);

        });

        await _hubConnection.StartAsync();

    }

    private void AddGauge()
    {

        if (!string.IsNullOrEmpty(SelectedProperty) && !ActiveGauges.Any(g => g.Name == SelectedProperty))
        {
            var addGauage = AvailableGauges.FirstOrDefault(item => item.Name == SelectedProperty);
            if (addGauage != null)
            {
                ActiveGauges.Add(addGauage);
                SelectedProperty = null;
                StateHasChanged();
            }

        }
    }

    private void addAllGauges()
    {
        foreach (var gauge in AvailableGauges)
        {
            if (!ActiveGauges.Any(g => g.Name == gauge.Name))
            {
                ActiveGauges.Add(gauge);
            }
        }
        StateHasChanged();
    }

    private void RemoveGauge(String propertyName)
    {
        var gauge = ActiveGauges.FirstOrDefault(g => g.Name == propertyName);
        if (gauge != null)
        {
            ActiveGauges.Remove(gauge);
            SelectedProperty = null;
            StateHasChanged();
        }
    }

    string GetArcColor(double currentValue, string unit)
    {
        if (unit == " °C")
        {
            if (currentValue >= 0 && currentValue <= 50)
            {
                return "green";
            }
            else if (currentValue > 50 && currentValue <= 75)
            {
                return "orange";
            }
            else
            {
                return "red";
            }
        }
        else
        {
            return "blue";
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection != null)
        {
            await _hubConnection.DisposeAsync();
        }
    }




}